<table class="table no-margin">
    <thead>
      <tr>
        <th>{% trans %}admin_newsletter_content_sended_createdat{% endtrans %}</th>
        <th>{% trans %}admin_newsletter_content_sended_sended{% endtrans %}</th>
        <th>{% trans %}admin_newsletter_content_sended_title{% endtrans %}</th>
        <th>{% trans %}admin_newsletter_content_sended_sendat{% endtrans %}</th>
        <th>{% trans %}admin_newsletter_content_sended_actions{% endtrans %}</th>
      </tr>
    </thead>
    <tbody id="table_body_not_sended_rows">
      {% for sended in entity.contentSend %}
          {% if not sended.sended %}
            {% include 'MaithNewsletterBundle:Default:sendedRow.html.twig' with { 'sended' : sended } %}
          {% endif %}
      {% endfor %}
    </tbody>
</table>