<div>
  <form action="javascript:void(0)" method='POST' onsubmit='return false;'>
    <div class="form-group">
        <label for="users-selector">Elegir el grupo:</label>
        <textarea type="text" class="form-control" id="users-selector" name="users-selector" ></textarea> 
    </div>
  </form>
</div>